<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <link rel="icon" href="https://orait.oss-cn-hangzhou.aliyuncs.com/oplanStatic/img/main/orait.png" />
  <!-- 图标字体 -->
  <link rel="stylesheet" href="http://at.alicdn.com/t/font_969189_6vam8mduq1k.css" />
  <!-- 高德地图 -->
  <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.11&key=0bb54f0db71ade0de7f75803c69dcab2"></script>
  <!-- 百度地图 -->
  <script src="http://api.map.baidu.com/api?v=3.0&ak=M0ooEGA8rCjTT5DvWbQg0BWNeK40Xujc"></script>
  <!-- 加载鼠标绘制工具 -->
  <script type="text/javascript" src="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.js"></script>
  <link rel="stylesheet" href="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.css" />
  <title>oplan_simluate</title>
</head>

<body>
  <noscript>
    <strong>We're sorry but oplan_simluate doesn't work properly without JavaScript
      enabled. Please enable it to continue.</strong>
  </noscript>
  <div id="login"></div>
  <!-- built files will be auto injected -->
</body>

</html>